<?xml version='1.0' encoding='UTF-8'?>
<config>
    <operations>
        <operation step="1" type="merge" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copy" from="libs" to="lib" />
        <operation step="3" type="copy" from="assets" to="assets" />
    </operations>
    <plugins>
	    <plugin name="com.vas.gp.plugin.GPUserPlugin" type="1" />
        <plugin name="com.vas.gp.plugin.GPPayPlugin"  type="2"/>
        <plugin name="com.vas.gp.plugin.GPSettingPlugin"  type="3"/>
	</plugins>
</config>