/PPTV_phone_Streamline
/QuickSDK_Demo
/RemoteSystemsTempFiles
/GDTUnionDemo
/GdtDemo
/appcompat_v7
/AndroidTestDemo
/AkSDK_DKM
/Test_PPTV_demo
/TestDemo
/.metadata
/VasSDK_GP/bin
/VasSDK_GP/gen
/VasSDK_PPTV/bin
/VasSDK_PPTV/gen
/VasSDK_NiuNiu/bin
/VasSDK_NiuNiu/gen
/VasSDK_PPTV6/gen
/VasSDK_PPTV6/bin
/VasSDK_QMYX/gen
/VasSDK_QMYX/bin
/VasSDK_TT/bin
/VasSDK_TT/gen
/VasSDK_Dianyou/gen
/VasSDK_Dianyou/bin
/VasSDK_GameCat/bin
/VasSDK_07073/bin
/VasSDK_07073/gen
/VasSDK_AiLe/bin
/VasSDK_AiLe/gen
/VasSDK_Bibi/bin
/VasSDK_Bibi/gen
/VasSDK_YueDong/bin
/VasSDK_YueDong/gen
/VasSDK_YXF/bin
/VasSDK_YXF/gen
/Vas_YunFeng/bin
/Vas_YunFeng/gen
