/PPTV_phone_Streamline
/QuickSDK_Demo
/RemoteSystemsTempFiles
/GDTUnionDemo
/GdtDemo
/appcompat_v7
/AndroidTestDemo
/AkSDK_DKM
/Test_PPTV_demo
/TestDemo
/.metadata
/VasSDK_GP/bin
/VasSDK_GP/gen
/VasSDK_PPTV/bin
/VasSDK_PPTV/gen
