<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vas.gamecat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.vas.vassdk.VasApplication"
        android:allowBackup="true"
        android:icon="@drawable/rb">
        <activity
            android:name="com.example.demo.VasSDK_GameCatMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gamecat.splash.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.gamecat.pay.activity.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.gamecat.usercenter.activity.UserActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.gamecat.personal.activity.PersonalActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.gamecat.peckgifts.activity.PeckGiftsActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.gamecat.forum.activity.ForumActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <service android:name="com.gamecat.floatwindow.FloatWindowService" />
        
        <meta-data
            android:name="GameCatAppKey"
            android:value="1300001" />
        <meta-data
            android:name="GameCatChlId"
            android:value="1301" />

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23513637" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="db23e69e30ceb523b2ffff67135ef5aa" />
        
    </application>

</manifest>