<?xml version='1.0' encoding='UTF-8'?>
<config>
    <operations>
        <operation step="1" type="merge" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copy" from="libs" to="lib" />
        <operation step="3" type="copy" from="res" to="res" />
        <operation step="4" type="copy" from="assets" to="assets" />
    </operations>
	<applications>
		 <application name="com.cc.ak.sdk.vivo.piugin.VivoApplication"/>
    </applications>
    <plugins>
	    <plugin name="com.cc.ak.sdk.vivo.piugin.VivoUserPlugin" type="1" />
	    <plugin name="com.cc.ak.sdk.vivo.piugin.VivoPayPlugin" type="2" />
	</plugins>
</config>