<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cxsdk_demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />
    
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/demo_app_name">
        <activity
            android:name="com.example.dkmsdk_demo.AkSDK_Game_Activity"
            android:label="@string/demo_app_name"
            android:icon="@drawable/ic_launcher"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter> -->
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" /> 
             </intent-filter> -->
        </activity>
        
        <activity android:name="cc.ak.sdk.AkSplashActivity"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>
    </application>

</manifest>
